/* Estilo centrado con movimientos suaves */

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para el logotipo en el encabezado */
nav img {
    max-width: 50px;
    height: auto;
}

/* Estilo para el botón de menú */
nav button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav button a {
    color: #fff;
    text-decoration: none;
}

nav button:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para el título principal */
.container--info h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.container--info h1:hover {
    color: #007bff;
}

/* Estilo para la información adicional */
.container--info .info {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para la imagen principal con movimiento */
.img--shoe {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.img--shoe:hover {
    transform: scale(1.05);
}

/* Estilo para el contenedor de las imágenes adicionales */
.container--shoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para las imágenes adicionales */
.container--shoes img {
    max-width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container--shoes img:hover {
    transform: scale(1.05);
}
